public-hoist-pattern[]=*@heroui/*
engine-strict=true

# electron 下载镜像（避免从 GitHub 下载）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
