public-hoist-pattern[]=*@heroui/*
engine-strict=true

# npm 镜像（国内网络更稳）
registry=https://registry.npmmirror.com
fetch-timeout=100000
fetch-retries=5

# electron 下载镜像（避免从 GitHub 下载）
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
